*.iml
.gradle
.idea
/local.properties
.DS_Store
/build
/captures

# Powershell result output
instrumented_test_results.txt
jvm_test_results.txt

# Bash result output
x

# keystore and release info
SOFTkeystore.jks
app/app-release.apk
