<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="soft.swenggroup5"
    android:sharedUserId="soft.swenggroup5.uid"
    android:versionCode="1"
    android:versionName="FirstPublish">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ContactSelectActivity" />
        <activity android:name=".ContactDecodeActivity" />
        <activity android:name=".ContactEncodeActivity" />
        <activity android:name=".TextEntryActivity" />
        <activity android:name=".TextEncodeActivity" />
        <activity android:name=".TextDecodeActivity" />
        <activity android:name=".EncodeOptionsActivity" />
        <activity android:name=".SplashScreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FileSelectActivity" />
        <activity android:name=".FileBrowserActivity" />
        <activity android:name=".FileSaveActivity" />
        <activity android:name=".CameraActivity"></activity>
    </application>

</manifest>
